<h1 mat-dialog-title>
  {{ clientId ? 'Update' : 'Add' }} Client
</h1>

<div mat-dialog-content>
  <mat-progress-bar *ngIf="isPending" mode="indeterminate"></mat-progress-bar>

  <div>
    <p *ngIf="error" class="error">{{ error }}</p>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field class="full-width">
      <input matInput placeholder="Company Name" name="company" maxlength="100" formControlName="company">

      <mat-error *ngIf="form.get('company').hasError('maxlength')">
        Company Name is <strong>too long</strong>
      </mat-error>
      <mat-error *ngIf="form.get('company').hasError('required')">
        Company Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea matInput
                cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"
                placeholder="Description" name="description" formControlName="description">
      </textarea>

      <mat-error *ngIf="form.get('description').hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Address" name="address" formControlName="address">

      <mat-error *ngIf="form.get('address').hasError('required')">
        Address is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Contact Name" name="name" maxlength="200" formControlName="name">

      <mat-error *ngIf="form.get('name').hasError('maxlength')">
        Contact Name is <strong>too long</strong>
      </mat-error>
      <mat-error *ngIf="form.get('name').hasError('required')">
        Contact Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Contact Email" name="email" maxlength="200" formControlName="email">
      <mat-error *ngIf="form.get('email').hasError('maxlength') && !form.get('email').hasError('email')">
        Email is <strong>too long</strong>
      </mat-error>
      <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="form.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <span matPrefix>+</span>
      <input matInput [textMask]="{mask: mask}" placeholder="Contact Phone" name="phone" formControlName="phone">

      <mat-error *ngIf="form.get('phone').hasError('required')">
        Contact Phone is <strong>required</strong>
      </mat-error>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-stroked-button color="accent" [disabled]="form.invalid" (click)="submit()">Save</button>
</div>
